INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

/.DS_Store

/.project

/composer.phar

/composer.lock

/vendor/

/build/logs

/.buildpath

/.settings/

/.idea/
composer-setup.php

*.swp
